@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
*{
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.container{
    display: grid;
    grid-template-rows: 35vh 65vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'gc gd'
    'bc bc';
    
}
.global-cases, .global-deaths{
    display: grid;
    grid-template-rows: 20% auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'ttl ttl'
    'day totl';
    background-color:#e77b7b;
    margin: 14px;
    border-radius: 20px ;
    box-shadow: 6px 6px 15px #b8373752;
    padding: 10px;


}

.global-cases{
    grid-area: gc;
    margin-right: 7px;
}
.global-deaths{
    grid-area: gd;
    margin-left: 7px;

}
.by-country{
    grid-area: bc;
    overflow-y: scroll;

   input{
       margin: 25px;
   }

}


.title{
    grid-area: ttl;
    text-align: center;
    font-size: 5vh;
}
.daily{
    grid-area: day;
}
.total{
    grid-area: totl;
}
p,h1{
    padding: 1vw 2vw;
    text-align: center;
    font-weight: bolder;
    font-size: 3vh;
}

table{
     padding: 25px;
     width: 100%;
     text-align: left;
     border-spacing: 0;
     font-weight: bold;
}

td{
    padding-top: 7px 5px;

}
th{
    background:#f7a2a2 ;
    padding-bottom: 7px;
    font-size: larger;
    position: sticky;
    top: 0;
    i{
        visibility: hidden;
    }
    
}
th:hover{
    cursor: pointer;
    i{
        visibility: visible;
    }
}

tbody:nth-child(even){
    background: #ccc;
}

tbody:nth-child(odd){
    background: #fff;
}

tbody:hover{
    background:#fdb9b9  ;
}